@model dotNETacademy.ViewModel.ListDeelnemersViewModel

@{
    ViewData["Title"] = "Deelnemers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@if (@Model.Deelnemers.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Deelnemers[0].Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deelnemers[0].Voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deelnemers[0].OpenstaandeCredits)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Deelnemers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voornaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenstaandeCredits)
                    </td>
                    <td>
                        <a asp-action="DetailsDeelnemer" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<h2>Geen deelnemers gevonden!</h2>
}